@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body {
  font-family: Roboto;
}

.hero {
  display: flex;
  justify-content: center;
  background-color: #1F2937;
  color: #FFF;
  margin-bottom: 40px;
}

.hero-content {
  display: flex;
  flex-direction: column;
  width: 60vw;
}

.header {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  font-size: 24px;
  font-weight: bold;
  color: #F9FAF8;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none; 
  font-weight: normal;

  display: flex;
  gap: 16px;
}

.links a {
  font-size: 18px;
  color: #E5E7EB;
  text-decoration: none;
}

.hero-container {
  display: flex; 
  justify-content: space-between;
  gap: 100px;

  font-size: 18px;
  color: #E5E7EB;
  flex: 1;
  margin: 150px 0px;
}

.hero-main {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
}

.hero-text {
  margin-bottom: 15px;
}

.signup {
  background-color: #3882F6;
  color: #FFF;
  border: 0px solid;
  border-radius: 6px;
  font-weight: bold;

  padding: 10px 30px;
}

.info {
  text-align: center;
}

.info-container {
  display: flex;
  justify-content: center;
  gap: 60px;
  margin-bottom: 120px;
}

.info-title {
  font-size: 36px;
  font-weight: bolder;
  color: #1F2937;
  margin-bottom: 40px;
}

.card {
  max-width: 200px;
}

  .card img {
    border: 2px #3882F6 solid;
    border-radius: 7px;
  }

